DLLs/
LICENSE.txt
Lib/
NEWS.txt
README.txt
Scripts/
_applibs/
cache/
csv/
dumps/
f1.py
get-pip.py
include/
libpymodules.so
libs/
logs/
*.pyo
*.pyc
ply/
*.zip
*.exe
*.dll
*.p
qt.conf
share/
sitecustomize.pyo
tcl/